body {background-image:url("images/background/tuxbg.jpg");background-size:100% 100%;-o-background-size:100% 100%;-webkit-background-size:100% 100%;background-origin:padding;-moz-background-size:100% 100%;height:100%;width:100%;}
p,h1,div {font-family:WenQuanYi MicroHei,Microsoft YaHei,文泉驿微米黑,微软雅黑,黑体,Sans;color:#FFFFFF}
div.block_color {background-color:blue;}
div.block_color:hover {background-color:red;}
div.block_color:active {background-color:green;}
div.block {background-image:url(3.png)}
div.block:hover {background-image:url(1.png)}
div.block:active {background-image:url(2.png)}
div.b_b {color:white;position:absolute;left:30px;top:240px;height:200;width:300;text-align:center;font-size:200%;}
div.a {position:absolute;top:20px;width:300;height:200;}
div.b1 {left:30px;top:20px;}
div.b2 {left:350px;top:20px;}
div.b3 {left:670px;top:20px;}
div.b4 {left:990px;top:20px;}
div.btm_toolbar {position:relative;width:0%;height:0%;top:-1000%;lleft:-1000%;}
div#distro {background-image:url(images/distro/Linux.png);background-size:100% 100%;background-repeat:no-repeat;}
div#distro:hover {background-size:97% 97%;}
div#distro:active {background-size:92% 92%;}
div.action:hover {background-size:97% 97%;}
div.action:active {background-size:92% 92%;}
form#dtb_f {width:30%;}