p,h1 {font-family:WenQuanYi MicroHei,Microsoft YaHei,文泉驿微米黑,微软雅黑,黑体,Sans;}
div.b_b {color:white;background-color:blue;position:absolute;left:30px;top:240px;height:200;width:300;text-align:center;font-size:200%;}
div#psec {left:350px;font-size:1000%;}
div.a1 {position:absolute;left:30px;top:20px;}
div.a2 {position:absolute;left:350px;top:20px;}
div.a3 {position:absolute;left:670px;top:20px;}
div.a4 {position:absolute;left:990px;top:20px;}